*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.page {
    height: calc(100vh - 154px);
}

h1,
p {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}