.login-header {
    padding: 35px 0;
    background-color: #FCF7F2;
    border-bottom: 2px solid #252525;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.main-body {
    display: flex;
}

@media screen and (min-width: 345px) {
    .yellowbox {
        display: none;
    }
}

.yellowbox {
    background-color: #FFBD6E;
    width: 100%;
    min-width: 345px;
    max-width: 45vmax;
    height: calc(100vh - 154px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.yellowbox-text {
    padding-right: 15%;
}

.yellowbox-text h1, p {
    margin: 0;
    text-align: left;
    font-family: 'Red Rose', serif;
}

/* put logo in own div */

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 45vmax);
    min-width: 415px;
}

.input-fields input {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 20px;
    width: 330px;
}

.input-fields .submit-container {
    width: 330px;
    display: flex;
    justify-content: flex-end;
}

.input-fields .submit-button {
    width: 100px;
}