.edit-eyeglass-content {
    padding: 3% 15%;
}

.ee-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-eyeglass-bulk {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    grid-template-areas: "image details";
    font-family: 'Red Rose', serif;
}

.ee-image-section {
    grid-area: 'image';
}

.ee-product-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ee-product-image {}

#product-img {
    width: 500px;
    height: 500px;
}

.ee-product-tertiary-imgs {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    /* background-color: lightsalmon; */
}

.tertiary-img {
    width: 30%;
    height: auto;
}

/* --------------------------------- */
/* ----- details section below ----- */
/* --------------------------------- */

.ee-details-section {
    grid-area: "details";
}

.ee-header-text {
    font-size: 1.3em;
}

.ee-details-body-text {
    margin-top: 15px;
}


.ee-details-body-text p {
    font-family: 'Rubik', sans-serif;
}

.edit-eyeglass-button input { /* change to button after first phase */
    background-color: #FCF7F2;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px 40px;
}

.ee-details-color-selection {
    margin: 4vh 0;
}

.ee-details-color-selection p {
    font-family: 'Rubik', sans-serif;
    color: #858585;
}

.color-indicators {
    display: flex;
    justify-content: flex-start;
    gap: 1%;
}

.colorcircle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.colorcircle-border {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color1 {
    background-color: #1E1E1E;
}

#color2 {
    background-color: #CDBD86;
}

#color3 {
    background-color: #EDE6CE;
}

.blackline {
    height: 3px;
    background-color: #1E1E1E;
}

.customer-section {
    margin-top: 15px;
}

.price-section {
    margin: 20px 0;
}

.price-section p {
    font-size: 2em;
}

.required-text-container {
    display: flex;
    width: fit-content;
}

.required-text-container p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}

.required-text-container #red {
    color: red;
}

.lens-type-section {
    margin: 20px 0;
}

.ee-dropdown-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dropdown {
    background-color: #FCF7F2;
    border: 1px solid #858585;
    border-radius: 3px;
    padding: 20px 90px;
    text-align: start;
}

#dropdown p {
    font-weight: 600;
}