.catalogue-content {
    height: 100%;
}

.catalogue-bulk {
    height: 100%; /* important to make the topbar and selections divs have the right sectioning */
    padding: 1.5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topbar {
    height: 10%;
    background-color: #252525;
}

.selections {
    flex-grow: 1;
    background-color: lightcyan;
}