.eyeglass-listing {
    padding-top: 15px;
    background-color: blanchedalmond;
    width: 200px;
    height: 240px;
    border-radius: 12px;
    text-decoration: none;
}

#eyeglass-img {
    width: 150px;
    height: 150px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic {
    display: flex;
    justify-content: center;
}

.eyeglass-name {
    color: #252525;
    margin: 20px;
    display: flex;
    justify-content: center;
}